@charset "utf-8";
/* CSS Document */
:root{
	font-family: "宋体";
	font-size: 14px;
	line-height: 25px;
}
h1{
	font-family: "微软雅黑";
	font-size:26px;
	color:#333;
	font-weight: normal;
	text-indent: 1em;
}
h1:after{content:url(images/tubiao.png);}
div:before{content:url(images/renwu.png)}
p>span{color:red;}






